@forward "./utilities/root.scss";
@forward "./tailwind/index.scss";
@forward "./sugar-high.css";

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
}

[id] {
    scroll-margin-top: 128px;
}
