:root {
	--sh-class: var(--white);
	--sh-identifier: var(--white-64);
	--sh-sign: var(--white-64);
	--sh-property: var(--white-64);
	--sh-entity: var(--white-64);
	--sh-jsxliterals: var(--white-64);
	--sh-string: var(--white-64);
	--sh-keyword: var(--white-64);
	--sh-comment: var(--white-64);
}

/*pre {
	background: var(--black-4);
	padding: 1rem;
	border-radius: 1rem;
	overflow-x: auto;
	margin-block: 1rem 1.5rem;
	box-shadow: var(--inset-shadow-sm);
}*/

/*pre code {
	font-family: var(--font-roboto-mono), "SF Mono", Monaco, monospace;
	font-size: 0.9rem;
	line-height: 1.6;
	color: var(--white-64);
}*/

pre[data-language="html"] {
	--sh-identifier: var(--color-green-60);
	--sh-sign: var(--color-gray-95);
	--sh-property: var(--color-blue-80);
	--sh-entity: var(--color-ciano-70);
}
